@page "/order-success"
@inject ICartService CartService

<PageTitle>Thành công</PageTitle>

<h3>ĐẶT HÀNG THÀNH CÔNG!</h3>

<span>Cảm ơn quý khách đã đặt hàng! Kiểm tra đơn hàng <a href="orders">tại đây</a>.</span>

@code {
    protected override async Task OnInitializedAsync()
    {
        await CartService.GetCartItemsCount();
    }

}
