@inject IAddressService AddressService

@if (address == null)
{
    <span>
        Bạn chưa có địa chỉ giao hàng.
        <button class="btn" @onclick="InitAddress">Thêm địa chỉ?</button>
    </span>
}
else if (!editAddress)
{
    <p>
        <span>@address.FullName</span><br />
        <span>@address.Street</span><br />
        <span>@address.PhoneNumber</span><br />
        <span>@address.Note</span><br />
    </p>
    <button class="btn btn-primary" @onclick="EditAddress">Sửa</button>
}
else
{
    <EditForm Model="address" OnSubmit="SubmitAddress">
        <div class="mb-3">
            <label for="fullname">Họ tên</label>
            <InputText id="fullname" @bind-Value="address.FullName" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="street">Đường</label>
            <InputText id="street" @bind-Value="address.Street" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="phonenumber">Số điện thoại</label>
            <InputText id="phonenumber" @bind-Value="address.PhoneNumber" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="note">Ghi chú</label>
            <InputText id="note" @bind-Value="address.Note" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Lưu</button>
    </EditForm>
}

@code {
    Address address = null;
    bool editAddress = false;

    protected override async Task OnInitializedAsync()
    {
        address = await AddressService.GetAddress();
    }

    private async Task SubmitAddress()
    {
        editAddress = false;
        address = await AddressService.AddOrUpdateAddress(address);
    }

    private void InitAddress()
    {
        address = new Address();
        editAddress = true;
    }

    private void EditAddress()
    {
        editAddress = true;
    }
}
