@inject NavigationManager NavigationManager

<div style="float: right; margin-right:50px; margin-bottom: 10px; margin-top:10px">
	<button onclick="@OpenChatbox" type="button" class="btn btn-primary">Tư vấn</button>
</div>

<footer class="footer-07">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center">
				<h2 class="footer-heading"><a href="#" class="logo">10Perfume Shop</a></h2>
				<p class="menu">
					<a href="#">TRANG CHỦ</a>
					<a href="#">GIỚI THIỆU</a>
					<a href="#">HƯỚNG DẪN</a>
					<a href="#">CHÍNH SÁCH</a>
					<a href="#">ƯU ĐÃI</a>
					<a href="#">LIÊN HỆ</a>
				</p>
				<ul class="ftco-footer-social p-0">
		<li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fab fa-twitter"></i></a></li>
		<li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fab fa-facebook"></i></a></li>
		<li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fab fa-instagram"></i></a></li>
	</ul>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-md-12 text-center">
				<p class="copyright">Copyright &copy;2022 All rights reserved</p>
			</div>
		</div>
	</div>
</footer>

@code {
	private void OpenChatbox()
	{
		NavigationManager.NavigateTo("https://localhost:7226/chatbox");
	}
}


